@{
    Layout = "~/Views/Layout/_HomeLayout.cshtml";
    ViewBag.Title = "TicketPrices";
}

<div class="container">
    <h1 style="text-align: center">THÔNG TIN GIÁ VÉ</h1>
    @Html.Action("IndexPartial", "LoaiVe")
</div>



