<link href="~/Content/css/nguoidung-style.css" rel="stylesheet" />

<div class="datve-box">
      
        <h2 class="blockTitle">
            <a >Mua vé Online</a>
            <small>Mua vé online, chọn ngay ghế đẹp</small>
        </h2>
        <div class="booking">
            <!-- Search box Start -->
            <form>
                <div class="form-group">                                
                    @Html.DropDownList("PhimID", new SelectList(new string[] { }), new { @id="dllPhim"})
                </div>
                <div class="form-group">
                    <label for="sel1">Chọn ngày chiếu:</label>                
                    @Html.DropDownList("LichChieuID", new SelectList(new string[] { }), new { @id = "listLichChieu", @class="lichChieu1" })
                </div>               
                <div class="btn-group" style="float:left; width:100%">
                        <button type="button" id="btnSearch" class="btn btn-primary" style="width:100%;"><i class="fa fa-credit-card"></i> TÌM LỊCH CHIẾU</button>
                </div>               
            </form>
            <!-- Search box End -->
    </div>
 </div>
