@model WebXemPhim.Models.Ghe
<link href="~/Content/css/admin-style.css" rel="stylesheet" />

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<div class="container">
    <h2>THÔNG TIN GHẾ</h2>
    <hr />
    <div>     
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.SoGhe)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SoGhe)
            </dd>

        </dl>
    </div>
   <hr />
    <div class="form-actions no-color">
        <hr />
        <span class="btn btn-default">
            @Html.ActionLink("Trở Về", "Index")
        </span>
        |
        <span class="btn btn-primary">
            @Html.ActionLink("Chỉnh Sửa", "Edit", new { id = Model.GheID })
        </span>

    </div>

</div>

