.title .container .row-fluid .span6>h1{
    padding-left: 10px;
}



/*media all*/
.main {
    font-family: 'Segoe UI';
   }
ul {
	list-style: none;
}
/*media all*/
.right-content {
    padding: 1em;  
}
/*media all*/
.right-content-heading {
    border-bottom: 1px solid #F1F0F6;
    margin: 0 0 3em 0;
}
/*media all*/
.right-content-heading-left {
    padding: 11px 0;
}
/*media all*/
h3.head {
    color: #000;
    font-size: 2.5em;
    font-weight: 700;
}
/*media all*/
.right-content-heading-left h3 {
    color: #000;
    text-transform: uppercase;
    display: block;
}
.content-grids{
    padding-left: 1em;
}
img {
    vertical-align: middle;
}
/*media all*/
.content-grid:hover img {
    -webkit-filter: grayscale(100%);
    opacity: 5;
    transition: all 300ms !important;
    -webkit-transition: all 300ms !important;
    -moz-transition: all 300ms !important;
}

/*media all*/
.content-grid {
    width: 22%;
    float: left;
    text-align: center;
    border: 1px solid rgba(235, 235, 235, 0.53);
    box-shadow: 0px 0px 10px rgba(255,255,255,0.35);
    margin-right: 3%;
    margin-bottom: 4%;
    position: relative;
}
/*media all*/
.content-grid img {
    display: block;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    width: 100%;
}
/*media all*/
.content-grid h3 {
    color: #000;
    text-transform: uppercase;
    padding: 1em;
    display: block;
    line-height: 1.5em;
    font-size: 14px;
    height: 80px;
    font-family: 'Segoe UI';
    font-weight: 700;
}
/*media all*/
ul {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}
/*media all*/
.content-grid ul li {
    display: inline-block;
}
/*media all*/
.content-grid ul li a {
    padding: 0 5px;
    display: block;

}
/*media all*/
.button {
    background: #000;
    padding: 10px;
    cursor: pointer;
    border: none;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    color: #fff;
    outline: none;
    text-transform: uppercase;
    display: block;
    margin: 10px 0 0 0;
     font-family: 'Segoe UI';
    font-size:16px;       
}
/*media all*/
.last-grid {
    margin-right: 0px;
}
/*media all*/
.pagenation {
    text-align: center;
}
/*media all*/
.pagenation ul li a {
    background: #000;
    padding: 10px;
    cursor: pointer;
    border: none;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    color: #fff;
    outline: none;
    text-transform: uppercase;
    display: block;
    font-size: 0.87em;
   
}
/*media all*/
.pagenation ul li {
    display: inline-block;
}
.clearfix::after, .container::after, .container-fluid::after, .row::after, .form-horizontal .form-group::after, .btn-toolbar::after, .btn-group-vertical > .btn-group::after, .nav::after, .navbar::after, .navbar-header::after, .navbar-collapse::after, .pager::after, .panel-body::after, .modal-footer::after {
    clear: both;
}
.content-grid>a:hover, .content-grid>a:focus{
    color: #e74c3c;
    text-decoration: underline;
}
.content-grid>a{
    color: #fff;
    text-decoration: none;
  
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*Ngày chiếu phim*/
.ngay-chieu {
    position: absolute;
    top: 2%;
    right: 2%;
    padding: 3px 10px;
    color: #fff;    
    background-color: #f79320;
    font-weight: 400;
}
.trang-thai {
    position: absolute;
    top: 2%;
    left: 2%;
    padding: 3px 10px;
    color: #fff;    
    background-color: #9B59B6;
    font-weight: 400;
}
/*Lịch Chiếu*/
.col-sm-9 {
    width: 75%;
    float: left;
    position: relative;
    min-height: 1px;
}
.col-sm-3 {
    width: 25%;
    float: left;
    position: relative;
    min-height: 1px;
}

.filter {
    padding-left: 1em; 
    width: 100%;
    padding-bottom: 2em;
    margin-left:0px;
}

.chon-phim, .chon-ngay {
    width: 20%;   
    min-height: 80px;
    float:left;
    margin-right: 2%;
    border-radius: 4px;
}
.dat-ve{
    width: 55%;
    min-height: 80px;
    border: 2px solid #eee;
    float: left;
    background-color: #ebebeb;
}

.dat-ve>img{
    padding:10px;
    display:block;
    float:left;
    width:20%;
    height: 50px;
    margin-top: 10px;
}

.dat-ve>p{
    width:38%;
    float:left;
    padding-top: 20px;
    color: #f79320;
    font-size: 14px;
}
.img-tooltip{
    float:left;
    width: 17%;
}
.titleGroup{ 
    float:left;
    width: 25%;
    padding-top: 10px;
}
.titleGroup>span{
    font-size:18px;
    display: block;
    margin-bottom: 5px;
}
.titleGroup>span>a{
        font-size:12px;
        color: #fff;
        background-color:#64bd60;
        border-radius: 3px;
        padding: 4px;
}


.lich-chieu-phim {
    padding-bottom: 2em;
    padding-left: 15px;
    margin-left:0px;

}

.tieu-de-phim>h3>a {
    font-family: 'Itim', cursive;
    color: #000000;
}
.tieu-de-phim>h3>a:hover {   
    color: #f89406; 
}
.loai-phim>h4{
    color: #cccccc;
    font-family: 'Itim', cursive;
}
.hinh-anh{
    padding-top: .5em;   
}
.loai-phim {
   float: left;
}
.info-lich-chieu {
    float: left;
}
.info-lich-chieu>ul>li {
    border: 1px solid #64bd60; 
    border-radius: 4px;
    width: 70px;
    float: left;
    padding: 3px;
    text-align: center;
    margin-bottom: 5px;
    margin-right: 5px;
 }
.info-lich-chieu>ul>li:hover{
    background-color: #f79320; 
}
.info-lich-chieu>ul>li>a{
    color: #64bd60;
    font-weight: 700;
}
#listPhim, #listLichChieu {
    width: 100%;
    height: 80px;
}
/*/Lịch chiếu*/

/*CHI TIẾT PHIM*/
.row {
    margin-left:0px;
}
.banner-phim {
    width: 40%;
    min-height: 400px;
    float: left;
    margin-right:5%;
}
.banner-phim>img {
    width: 100%;
    height: 400px;   
}

.info-phim{
    width: 55%;
    float: left;
}
.info-phim>h3 {
    font-family: 'Itim',cursive;
    color: #111111;
    font-size: xx-large;
}

.info-phim>p {
    font-size: medium;
}

.noi-dung {
    margin-top: 2em;
    margin-bottom: 3em;
}

.noi-dung .tieu-de-noi-dung, .ct-lich-chieu>h4 {
    font-family: 'Itim',cursive;
    color: #fff;
    display: block;
    font-size: 21px;
    padding: 10px 13px 13px;
    margin: 0 0 7px;
    border: 0px;
    background: #089de3;
}
.noi-dung>span {
    font-size: medium;
    text-align:justify;
    color: #333;
}


/*/CHI TIẾT PHIM*/

/*ĐẶT VÉ*/

.form-group {   
    margin: 20px;
    border: 1px solid #eee;
    padding: 2em;
    border-radius: 4px;
}
.form-group > input {
   width: 100%;
}
    .form-group > label {
        color: #f89406;
    }

    .btnDatVe {
        width: 20%;
        height: 50px;
        font-family: 'Itim', cursive;
        font-size: x-large;
        border-radius: 3px;
    }
.thong-tin-phim>select {
    width: 100%;
}
/*/ĐẶT VÉ*/

/*KHUYẾN MÃI*/

.KhuyenMai-List li {
  width: 100%;
  float: left;
  position: relative;
  margin-left:1em;
  margin-top:3em;
}
.imgThumb {
  text-decoration: none;
  color: #464646;
  width: 20%;
  height: 200px;
  padding-top: 10px;
  float: left;
}

.imgThumb:hover{
	background-size:110% auto;
}
.KhuyenMai-ContInfo {
  margin-top: 5px;
  max-height: 87px;
  font-size:14px;
}
.title1 {
  padding-bottom: 1em;
  font-weight: lighter;
  font-size: 18px;
  text-align: justify;
}
.KhuyenMai-List li p {
  line-height: 150%;
  color: #989898;
  text-align: justify;
}
.detail{
	background:#999;
	float:left;
	margin-top:1em;
	text-align:center;
	padding:0px;
	line-height:30px;
}


/*/KHUYẾN MÃI*/